@model IEnumerable<Seminarska.Models.Igralec>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ekipa.EkipaIme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IgralecIme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IgralecPriimek)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ekipa.EkipaIme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IgralecIme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IgralecPriimek)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
